<link rel="stylesheet" type="text/css" href="../styles/signup.css">

<div class="signup-container" ng-controller="signupCtrl">
    <div class="page-header">
        <h1>Sign Up</h1>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="input-username">Username:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input-username" placeholder="Username"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="input-email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="input-email" placeholder="Email address"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="input-password">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="input-password" placeholder="Password"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="input-confirm-pwd">Confirm password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="input-confirm-pwd" placeholder="Confirm password"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary" ng-click="doSignUp();">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>